//[sdk](../../../../index.md)/[eu.epicompany.mobile.sdk.network.model.proxy](../../index.md)/[ContactItemState](../index.md)/[Unverified](index.md)/[verification](verification.md)

# verification

[androidJvm]\
val [verification](verification.md): [ContactItemVerification](../../-contact-item-verification/index.md)
