//[sdk](../../../index.md)/[eu.epicompany.mobile.sdk.network.model.proxy](../index.md)/[ContactItemVerification](index.md)/[verification](verification.md)

# verification

[androidJvm]\
val [verification](verification.md): [LinkDataModel](../../eu.epicompany.mobile.android.data.network.model.hypermedia/-link-data-model/index.md)
