//[core](../../../index.md)/[eu.epicompany.mobile.core.network.model.proxy](../index.md)/[ContactItemVerification](index.md)/[ContactItemVerification](-contact-item-verification.md)

# ContactItemVerification

[androidJvm]\
constructor(verification: [LinkDataModel](../../eu.epicompany.mobile.core.network.hypermedia/-link-data-model/index.md), resendOTP: [LinkDataModel](../../eu.epicompany.mobile.core.network.hypermedia/-link-data-model/index.md), resendEarliestDate: [Instant](https://developer.android.com/reference/kotlin/java/time/Instant.html))
