//[core](../../../index.md)/[eu.epicompany.mobile.core.network.model.proxy](../index.md)/[ContactItemVerification](index.md)/[verification](verification.md)

# verification

[androidJvm]\
val [verification](verification.md): [LinkDataModel](../../eu.epicompany.mobile.core.network.hypermedia/-link-data-model/index.md)
